<div style="display: flex; gap: 1rem; position: relative;align-items: center;">
  <%= render(Sailboat::Button.new(size: :small)) do %>
    Small
  <% end %>

  <%= render(Sailboat::Button.new(size: :medium)) do %>
    Medium
  <% end %>

  <%= render(Sailboat::Button.new(size: :large)) do %>
    Large
  <% end %>
</div>
